<ion-view title="All Hazards" id="page6">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="hazard-search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Hazards" ng-model="search">
            </label>
        </form>
        <ion-list>
            <ion-item ng-repeat="hazard in hazardsArray.items | filter:search" class="item-thumbnail-left" ng-click="openHazard(hazard)">
                <img src="http://placehold.it/150x150">
                <h2 ng-bind="hazard.title"></h2>
                <p ng-bind="hazard.description"></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>