<ion-view title="All Hazards" id="page6">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="hazard-search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Hazards">
            </label>
        </form>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Hazard 1</h2>
                <p>Description</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>